Repository freedomofpress/actionslib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, check-toml, check-json, check-yaml

mdformat:
  name: Enforce mdformat formatting for markdown
  entry: mdformat
  language: system
  args:
  - --number
  - --wrap=90

check-toml:
  name: Check for valid TOML file syntax
  entry: check-toml
  language: system

check-json:
  name: Check for valid JSON file syntax
  entry: check-json
  language: system

check-yaml:
  name: Check for valid YAML file syntax
  entry: check-yaml
  args:
  - --unsafe
  language: system

Publish artifacts to a directory in an R2 bucket
  .github/workflows/publish-r2.yaml
Due: check-yaml

Fix typos in documentation
  .github/workflows/oci-build.yaml
Due: check-yaml

Update 3rd party actions to lates available versions
  .github/workflows/oci-build.yaml
Due: check-yaml

Fix not detecting default branch due to missing GH_TOKEN
  .github/workflows/oci-build.yaml
Due: check-yaml

Update poetry 1.x transient dependencies
  act/poetry/poetry.lock
  act/poetry/requirements-poetry.txt
Due: none

Update act/poetry to use poetry 2.x by default
  act/poetry/poetry.lock
  act/poetry/pyproject.toml
  act/poetry/requirements-poetry.txt
Due: check-toml

Update lockfile to poetry 2.x format
  poetry.lock
Due: none

Update dev docs to specify poetry 2 requirement
  README.md
Due: mdformat

Add python3.14 to act/poetry test matrix
  .github/workflows/_test_act_poetry.yaml
Due: check-yaml

Add requirement for poetry>=2.3.3
  pyproject.toml
Due: check-toml

chore: add .editorconfig file
  .editorconfig
Due: none

style: format YAML (indents, quotes)
  .github/workflows/_ci.yaml
  .github/workflows/_test_act_poetry.yaml
  .github/workflows/_test_publish_r2.yaml
  .github/workflows/lint-actions.yaml
  .github/workflows/oci-build.yaml
  .github/workflows/publish-r2.yaml
  act/delete-artifact/README.md
  act/poetry/action.yml
  act/signed-commit/README.md
Due: mdformat, check-yaml

fix: update actions/cache from v4 to v5
  act/poetry/action.yml
Due: check-yaml

fix: update actions/download-artifact from v4 to v8
  .github/workflows/_test_publish_r2.yaml
  .github/workflows/publish-r2.yaml
  act/delete-artifact/README.md
Due: mdformat, check-yaml

fix: upload actions/upload-artifact from v4 to v7
  .github/workflows/_test_publish_r2.yaml
  act/delete-artifact/README.md
Due: mdformat, check-yaml

fix: update actions/checkout from v4 to v5
  .github/workflows/_ci.yaml
  .github/workflows/_test_act_poetry.yaml
  .github/workflows/lint-actions.yaml
  .github/workflows/publish-r2.yaml
  act/signed-commit/README.md
Due: mdformat, check-yaml

fix: update actions/setup-python from v4 to v6
  act/poetry/action.yml
Due: check-yaml

style: rewrap text to ensure it’s under 100 characters
  .github/workflows/_ci.yaml
Due: check-yaml

style: require a single space before comments
  .yamllint.yaml
Due: check-yaml

fix: avoid line-length error during poetry installation
  act/poetry/action.yml
Due: check-yaml

fix: add .yml to .editorconfig
  .editorconfig
Due: none

Fix requirements file not being updated for poetry 2
  act/poetry/requirements-poetry.txt
  act/poetry/update_poetry.sh
Due: none

Add option for not pushing signed commits to git remotes
  act/signed-commit/action.yml
Due: check-yaml

Update documentation for signed-commit composite action
  act/signed-commit/README.md
Due: mdformat

fix: update actions/checkout from v4 to v6
  .github/workflows/_ci.yaml
  .github/workflows/_test_act_poetry.yaml
  .github/workflows/lint-actions.yaml
  .github/workflows/publish-r2.yaml
  act/signed-commit/README.md
Due: mdformat, check-yaml

Path conditions:
  mdformat: any of: \.(md|markdown|mdown)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-yaml: any of: \.(yaml|yml)$
