Repository freedomofpress/actionslib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, check-toml, check-json, check-yaml

mdformat:
  name: Enforce mdformat formatting for markdown
  entry: mdformat
  language: system
  args:
  - --number
  - --wrap=90

check-toml:
  name: Check for valid TOML file syntax
  entry: check-toml
  language: system

check-json:
  name: Check for valid JSON file syntax
  entry: check-json
  language: system

check-yaml:
  name: Check for valid YAML file syntax
  entry: check-yaml
  args:
  - --unsafe
  language: system

Add poetry action
  act/poetry/README.md
  act/poetry/action.yml
  act/poetry/poetry.lock
  act/poetry/pyproject.toml
  act/poetry/requirements-poetry.txt
  act/poetry/update_poetry.sh
Due: mdformat, check-toml, check-yaml

Add linting or python
  .github/workflows/_ci.yaml
Due: check-yaml

Remove example action
  act/example-action/README.md
  act/example-action/action.yml
Due: mdformat, check-yaml

Add poetry action
  README.md
  act/poetry/README.md
  act/poetry/action.yml
  act/poetry/poetry.lock
  act/poetry/pyproject.toml
  act/poetry/requirements-poetry.txt
  act/poetry/update_poetry.sh
Due: mdformat, check-toml, check-yaml

Add linting CI for pre-commit and yamllint
  .github/workflows/_ci.yaml
Due: check-yaml

Remove example action
  README.md
  act/example-action/README.md
  act/example-action/action.yml
Due: mdformat, check-yaml

Fix secret+permission management on lint-actions workflow
  .github/workflows/lint-actions.yaml
Due: check-yaml

Update to latest version of zizmor
  .github/workflows/lint-actions.yaml
Due: check-yaml

Update internal CI usage of lint-actions workflow
  .github/workflows/_ci.yaml
Due: check-yaml

Add reusable workflow to publish to Cloudflare R2
  .github/workflows/publish-r2.yaml
  README.md
Due: mdformat, check-yaml

rclone workflow tweaks
  .github/workflows/publish-r2.yaml
Due: check-yaml

Adjust max yamllint line length rule to 100 characters
  .github/workflows/publish-r2.yaml
  .yamllint.yaml
Due: check-yaml

Add option to use system managed python installation
  act/poetry/action.yml
Due: check-yaml

Set --config to /dev/null to use in-memory rclone config.
  .github/workflows/publish-r2.yaml
Due: check-yaml

Remove indentation on folded chomping newline
  .github/workflows/publish-r2.yaml
Due: check-yaml

Add action for deleting a repo artifact by name
  act/delete-artifact/README.md
  act/delete-artifact/action.yml
  act/delete-artifact/delete-artifact.sh
  act/delete-artifact/fetch-artifact.sh
Due: mdformat, check-yaml

Add documentation for delete-artifact action
  README.md
  act/delete-artifact/README.md
Due: mdformat

Add action for creating a GPG signed commit via the Github API
  README.md
  act/signed-commit/README.md
  act/signed-commit/action.yml
Due: mdformat, check-yaml

Parameterize poetry installation to support installing different versions
  act/poetry/action.yml
  act/poetry/poetry-1.8/poetry.lock
  act/poetry/poetry-1.8/pyproject.toml
  act/poetry/poetry-1.8/requirements.txt
  act/poetry/update_poetry.sh
Due: check-toml, check-yaml

Move poetry runtime venv out of the cache path
  act/poetry/action.yml
Due: check-yaml

Add shellcheck CI integration for linting shell scripts
  .github/workflows/_ci.yaml
  Makefile
  README.md
Due: mdformat, check-yaml

Fix shellcheck linting errors
  act/delete-artifact/fetch-artifact.sh
  act/poetry/update_poetry.sh
Due: none

Add workflow for running integration tests on the act/poetry composite action
  .github/workflows/_test_act_poetry.yaml
  act/poetry/test_resources/poetry.lock
  act/poetry/test_resources/pyproject.toml
  act/poetry/test_resources/test_resources.py
Due: check-toml, check-yaml

Add test framework job for running all integration tests
  .github/workflows/_test.yaml
Due: check-yaml

Fix missing working directory causing poetry misconfiguration
  act/poetry/action.yml
Due: check-yaml

Path conditions:
  mdformat: any of: \.(md|markdown|mdown)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-yaml: any of: \.(yaml|yml)$
