Repository freedomofpress/actionslib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, check-toml, check-json, check-yaml

.pre-commit-config.yaml:

---
repos:
- repo: local
  hooks:
  - id: end-of-file-fixer
    name: Enforce end of file format
    entry: end-of-file-fixer
    language: system
    types: [text]

  - id: trailing-whitespace-fixer
    name: Enforce removal of trailing whitespace
    entry: trailing-whitespace-fixer
    language: system
    types: [text]

  - id: mdformat
    name: Enforce mdformat formatting for markdown
    entry: mdformat
    language: system
    args:
    - "--number"
    - "--wrap=90"
    types: [markdown]

  - id: check-toml
    name: Check for valid TOML file syntax
    entry: check-toml
    language: system
    types: [toml]

  - id: check-json
    name: Check for valid JSON file syntax
    entry: check-json
    language: system
    types: [json]

  - id: check-yaml
    name: Check for valid YAML file syntax
    entry: check-yaml
    args:
    - "--unsafe"
    language: system
    types: [yaml]

  - id: check-merge-conflict
    name: Check for unresolved merge conflicts
    entry: check-merge-conflict
    language: system
    types: [text]

!wip
  .github/workflows/_test_act_poetry.yaml
Due: check-yaml

!fixup
  .github/workflows/_test_act_poetry.yaml
Due: check-yaml

Fix project component installation logic
  .github/workflows/_test_act_poetry.yaml
  act/poetry/action.yml
Due: check-yaml

Add shellcheck CI integration for linting shell scripts
  .github/workflows/_ci.yaml
  Makefile
  README.md
Due: mdformat, check-yaml

Fix shellcheck linting errors
  act/delete-artifact/fetch-artifact.sh
  act/poetry/update_poetry.sh
Due: none

Add initial workflow for building OCI images
  .github/workflows/oci-build.yaml
Due: check-yaml

!fixup
  .github/workflows/oci-build.yaml
Due: check-yaml

Add workflow for building and publishing OCI images
  .github/workflows/oci-build.yaml
Due: check-yaml

Replace custom timestamp label with opencontainer standard label
  .github/workflows/oci-build.yaml
Due: check-yaml

Add documentation for oci-build workflow
  .github/workflows/oci-build.yaml
  README.md
Due: mdformat, check-yaml

Fix line length linting errors
  .github/workflows/oci-build.yaml
Due: check-yaml

Add job output for the image filename in the exported artifact
  .github/workflows/oci-build.yaml
Due: check-yaml

Update oci-build to use args+tags inputs as newline delimited
  .github/workflows/oci-build.yaml
Due: check-yaml

Add workflow for running integration tests on the act/poetry composite action
  .github/workflows/_test_act_poetry.yaml
  act/poetry/test_resources/poetry.lock
  act/poetry/test_resources/pyproject.toml
  act/poetry/test_resources/test_resources.py
Due: check-toml, check-yaml

Add test framework job for running all integration tests
  .github/workflows/_test.yaml
Due: check-yaml

Fix missing working directory causing poetry misconfiguration
  .github/workflows/_test_act_poetry.yaml
  act/poetry/action.yml
Due: check-yaml

Fix yaml linting errors
  .github/workflows/_test_act_poetry.yaml
Due: check-yaml

Add path limitation triggers to poetry test workflow
  .github/workflows/_test.yaml
  .github/workflows/_test_act_poetry.yaml
Due: check-yaml

Fix zizmor actions linting errors
  .github/workflows/_ci.yaml
  .github/workflows/_test_act_poetry.yaml
  .github/workflows/lint-actions.yaml
  act/poetry/action.yml
Due: check-yaml

Fix path limitations for poetry test suite
  .github/workflows/_test_act_poetry.yaml
Due: check-yaml
