Repository freedomofpress/actionslib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, check-toml, check-json, check-yaml

mdformat:
  name: Enforce mdformat formatting for markdown
  entry: mdformat
  language: system
  args:
  - --number
  - --wrap=90

check-toml:
  name: Check for valid TOML file syntax
  entry: check-toml
  language: system

check-json:
  name: Check for valid JSON file syntax
  entry: check-json
  language: system

check-yaml:
  name: Check for valid YAML file syntax
  entry: check-yaml
  args:
  - --unsafe
  language: system

fix: update actions/setup-python from v4 to v6
  .github/workflows/lint-actions.yaml
  act/poetry/action.yml
Due: check-yaml

fix: update actions/upload-artifact from v4 to v7
  .github/workflows/_test_publish_r2.yaml
  act/delete-artifact/README.md
Due: mdformat, check-yaml

fix: update actions/download-artifact from v4 to v8
  .github/workflows/_test_publish_r2.yaml
  .github/workflows/publish-r2.yaml
  act/delete-artifact/README.md
Due: mdformat, check-yaml

style: format YAML and MD files (spaces and quotes)
  .github/workflows/_ci.yaml
  .github/workflows/_test_act_poetry.yaml
  .github/workflows/_test_publish_r2.yaml
  .github/workflows/lint-actions.yaml
  .github/workflows/oci-build.yaml
  .github/workflows/publish-r2.yaml
  .pre-commit-config.yaml
  README.md
  act/delete-artifact/action.yml
  act/determine-latest-git-tag/action.yml
  act/poetry/action.yml
  act/signed-commit/action.yml
Due: mdformat, check-yaml

Convert yaml indentation from 2 to 0 spaces
  .editorconfig
  .github/workflows/_ci.yaml
  .github/workflows/_test_act_poetry.yaml
  .github/workflows/_test_publish_r2.yaml
  .github/workflows/lint-actions.yaml
  .github/workflows/oci-build.yaml
  .github/workflows/publish-r2.yaml
  .pre-commit-config.yaml
  act/delete-artifact/action.yml
  act/determine-latest-git-tag/action.yml
  act/poetry/action.yml
  act/signed-commit/action.yml
Due: check-yaml

Update default poetry version to 2.4
  act/poetry/requirements-poetry.txt
Due: none

Fix poetry 2.4 installation to use proper version spec
  act/poetry/poetry.lock
  act/poetry/pyproject.toml
  act/poetry/requirements-poetry.txt
Due: check-toml

Fix incorrectly setting GHA path to poetry runtime environment
  act/poetry/action.yml
Due: check-yaml

docs: minimal outsider workflow gating check
  .github/workflows/_test_publish_r2.yaml
Due: check-yaml

Add `lint` option to support running hadolint as part of build process
  .github/workflows/oci-build.yaml
Due: check-yaml

publish-r2: Use sparse checkout to reduce bandwith consumption
  .github/workflows/publish-r2.yaml
Due: check-yaml

fix capitalization of GitHub
  .github/workflows/lint-actions.yaml
Due: check-yaml

reusable workflow for cleanup
  .github/workflows/cleanup-artifacts.yaml
Due: check-yaml

Implement error-if-absent feature for act/delete-artifact
  act/delete-artifact/action.yml
  act/delete-artifact/fetch-artifact.sh
Due: check-yaml

fix: pin redhat-actions/buildah-build to commit hash
  .github/workflows/oci-build.yaml
Due: check-yaml

fix: add .DS_Store to .gitignore
  .gitignore
Due: none

fix: add sha, branch, tags as build arguments
  .github/workflows/oci-build.yaml
Due: check-yaml

build: Update Python and pre-commit dependencies
  pyproject.toml
Due: check-toml

fix: enable dependabot
  .github/dependabot.yaml
Due: check-yaml

docs: bump minimu python version to 3.13
  README.md
Due: mdformat

fix: update script to work on macOS (with BSD tools)
  act/poetry/update_poetry.sh
Due: none

Fix dependabot opening too many PRs by grouping dependency updates
  .github/dependabot.yaml
Due: check-yaml

Fix inconsistent commit messages on dependabot commits
  .github/dependabot.yaml
Due: check-yaml

build: update poetry.lock
  poetry.lock
Due: none

fix: replace deprecated poetry install --sync command with poetry sync
  Makefile
Due: none

fix: update python to 3.13
  act/poetry/pyproject.toml
Due: check-toml

chore: update poetry.lock
  act/poetry/poetry.lock
Due: none

fix: bump python to 3.13
  act/poetry/test_resources/pyproject.toml
Due: check-toml

chore: update poetry.lock
  act/poetry/test_resources/poetry.lock
Due: none

fix: add poetry export as a requirement
  act/poetry/test_resources/pyproject.toml
Due: check-toml

build: update poetry lockfile
  act/poetry/poetry.lock
Due: none

fix: regenerate requirements-poetry.txt
  act/poetry/requirements-poetry.txt
Due: none

fix: allow python 3.10 in pyproject.toml
  act/poetry/pyproject.toml
  act/poetry/test_resources/pyproject.toml
  pyproject.toml
Due: check-toml

chore: update lockfiles
  act/poetry/poetry.lock
  act/poetry/test_resources/poetry.lock
  poetry.lock
Due: none

chore: regenerate poetry requirements
  act/poetry/requirements-poetry.txt
Due: none

Add workflow for triggering k8s-configs update workflow
  .github/workflows/update-k8s-trigger.yaml
  README.md
Due: mdformat, check-yaml

Fix missing doclinks for cleanup-artifacts workflow
  README.md
Due: mdformat

Fix dependabot config missing YAML document start anchor
  .github/dependabot.yaml
Due: check-yaml

Fix shell errors in trigger logic
  .github/workflows/update-k8s-trigger.yaml
Due: check-yaml

Update redhat-actions/buildah-build to v3
  .github/workflows/oci-build.yaml
Due: check-yaml

Path conditions:
  mdformat: any of: \.(md|markdown|mdown)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-yaml: any of: \.(yaml|yml)$
